# Site and content
site_name: "Safespring documentation"
docs_dir: "content"

# Github integration
repo_name: "safespring/docs"
repo_url: "https://github.com/safespring/docs"
edit_uri: "edit/master/content/"

# Safespring theme
theme:
  name: "material"
  feature:
    tabs: false
  logo: "safespring_symbol_white_svg.svg"
  favicon: "favicon.ico"
extra_css:
  - "safespring.css"
extra_javascript:
  - "https://lbpj80qtys85.statuspage.io/embed/script.js"
extra:
  font:
    text: "Montserrat"
    code: "Ubuntu Mono"

# https://squidfunk.github.io/mkdocs-material/getting-started/#extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

# Pages layout
nav:
  - Overview: "index.md"
  - Security and Compliance:
      - Overview: "security-compliance/index.md"
      - Asset Management: "security-compliance/asset-management.md"
      - Access Control: "security-compliance/access.md"
      - Logging and Monitoring: "security-compliance/logging-monitoring.md"
      - System Protection and Maintenance: "security-compliance/system-protection-maintenance.md"
  - Backup:
      - Quick-Start Guide: "backup/quickstart-guide.md"
      - Security and Compliance:
          - Overview: "backup/security-compliance/index.md"
          - System Protection and Maintenance: "backup/security-compliance/system-protection-maintenance.md"
          - Data Management: "backup/security-compliance/data-management.md"
          - Logging and Monitoring: "backup/security-compliance/logging-monitoring.md"
          - Network Security: "backup/security-compliance/network-security.md"
          - Secure Development: "backup/security-compliance/secure-development.md"
          - Development and Operations Management: "backup/security-compliance/development-operations-management.md"
      - Installation:
          - Overview: "backup/install/overview.md"
          - Linux: "backup/install/linux.md"
          - Windows: "backup/install/windows.md"
          - macOS: "backup/install/apple-macos.md"
          - freeBSD: "backup/install/freebsd-other.md"
          - Application:
              - Microsoft SQL Server: "backup/install/mssql-windows.md"
      - HOWTOs:
          - Back up Files: "backup/howto/back-up-files.md"
          - Consumption Units: "backup/howto/consumption-units.md"
          - Business Units: "backup/howto/business-units.md"
          - Passwords: "backup/howto/password.md"
          - Deleting Nodes: "backup/howto/delete-node.md"
          - Email Reports: "backup/howto/reports-by-email.md"
          - Encryption: "backup/howto/encryption.md"
          - Include/Exclude: "backup/howto/include-exclude.md"
          - Admin SSO: "backup/howto/sso.md"
          - Handling Changing Files: "backup/howto/changing-files.md"
          - List Files: "backup/howto/list-files.md"
          - Linux GUI: "backup/howto/linux-gui.md"
      - Automation:
          - Command Line: "backup/automation/cli-tool.md"
          - REST API: "backup/automation/rest-api.md"
          - API Resources: "backup/automation/api-resources.md"
          - More Info: "backup/automation/more-info.md"
      # - Performance:
      #   - First Backup: "backup/performance/first-backup.md"
      - Recovery:
          - The Basics: "backup/recovery/basics.md"
          - Linux Systems: "backup/recovery/linux-recovery.md"
          - Windows Systems: "backup/recovery/windows-recovery.md"
          - Testing: "backup/recovery/testing.md"
          - Encryption: "backup/recovery/encryption.md"
      - Cloud Backup:
          - Microsoft 365: "backup/cloud/microsoft-365.md"
          - Microsoft Entra ID: "backup/cloud/microsoft-entra-id.md"
          - User Data Recovery: "backup/cloud/user-data-recovery.md"
          - Read PST files: "backup/cloud/pst-files.md"
      - FAQ: "backup/faq.md"
      - Legacy Backup: "legacy-backup/index.md"
  - Compute:
      - Getting Started: "compute/getting-started.md"
      - Security and Compliance:
          - Overview: "compute/security-compliance/index.md"
          - System Protection and Maintenance: "compute/security-compliance/system-protection-maintenance.md"
          - Data Management: "compute/security-compliance/data-management.md"
          - Logging and Monitoring: "compute/security-compliance/logging-monitoring.md"
          - Network Security: "compute/security-compliance/network-security.md"
          - Secure Development: "compute/security-compliance/secure-development.md"
          - Development and Operations Management: "compute/security-compliance/development-operations-management.md"
      - VPN options: "compute/vpn.md"
      - API Access: "compute/api.md"
      - Flavors: "compute/flavors.md"
      - Load Balancing: "compute/loadbalancing.md"
      - Application credentials: "compute/app-creds.md"
      - Trouble Shooting: "compute/troubleshooting.md"
      - HOWTOs:
          - Using Keypairs: "compute/howto/keypairs.md"
          - Persistent IP address: "compute/howto/persistent-ip-address.md"
          - Windows images: "compute/howto/windows.md"
          - Migrate instance to another project: "compute/howto/migrate-between-projects.md"
          - Taking snapshots of instances: "compute/howto/snapshotting-instances.md"
  - Storage:
      - Getting Started: "storage/getting-started.md"
      - Security and Compliance:
          - Overview: "storage/security-compliance/index.md"
          - System Protection and Maintenance: "storage/security-compliance/system-protection-maintenance.md"
          - Data Management: "storage/security-compliance/data-management.md"
          - Logging and Monitoring: "storage/security-compliance/logging-monitoring.md"
          - Network Security: "storage/security-compliance/network-security.md"
          - Secure Development: "storage/security-compliance/secure-development.md"
          - Development and Operations Management: "storage/security-compliance/development-operations-management.md"
      - S3 Quotas: "storage/quota.md"
      - S3 Advanced Features: "storage/s3-advanced.md"
      - S3 Usage Report: "storage/usage-statistics.md"
      - HOWTOs:
          - Object Locking: "storage/object-locking.md"
          - Example config for tools:
              - Example s3fs config: "storage/howto/configs/s3fs.md"
              - Example s3cmd config: "storage/howto/configs/s3cmd.md"
              - Example CloudBerry config: "storage/howto/configs/cloudberry.md"
              - Example CyberDuck config: "storage/howto/configs/cyberduck.md"
              - Example Duck CLI config: "storage/howto/configs/duck-cli.md"
              - Example Minio Client config: "storage/howto/configs/minio-client.md"
              - Example AWS-CLI config: "storage/howto/configs/aws-cli.md"
              - Example NextCloud S3 integration: "storage/howto/configs/nextcloud-s3.md"
      - Tips and Tricks: "storage/tips-n-tricks.md"
      - Backup Exec and Safespring Storage: "storage/backup-exec.md"
      - Other Backends: "storage/other-backends.md"
  - On-demand Kubernetes:
      - Getting Started: "kubernetes/getting-started.md"
      - Portal Overview: "kubernetes/portal-overview.md"
      - Authentication: "kubernetes/authentication.md"
      - Kubernetes Dashboard: "kubernetes/dashboard.md"
      - Traffic Management: "kubernetes/manage-traffic.md"
      - Persistent Volumes: "kubernetes/persistent-volumes.md"
      - Observability: "kubernetes/observability.md"
      - GPU: "kubernetes/gpu.md"
      - Security and Compliance:
          - Overview: "kubernetes/security-compliance/index.md"
          - System Protection and Maintenance: "kubernetes/security-compliance/system-protection-maintenance.md"
          - Data Management: "kubernetes/security-compliance/data-management.md"
          - Logging and Monitoring: "kubernetes/security-compliance/logging-monitoring.md"
          - Network Security: "kubernetes/security-compliance/network-security.md"
          - Secure Development: "kubernetes/security-compliance/secure-development.md"
          - Development and Operations Management: "kubernetes/security-compliance/development-operations-management.md"
      - Trouble Shooting: "kubernetes/troubleshooting.md"
  - Self-service Portal & API:
      - Getting Started: "portal-api/getting-started.md"
      - Security and Compliance:
          - Overview: "portal-api/security-compliance/index.md"
          - System Protection and Maintenance: "portal-api/security-compliance/system-protection-maintenance.md"
          - Data Management: "portal-api/security-compliance/data-management.md"
          - Logging and Monitoring: "portal-api/security-compliance/logging-monitoring.md"
          - Network Security: "portal-api/security-compliance/network-security.md"
          - Secure Development: "portal-api/security-compliance/secure-development.md"
          - Development and Operations Management: "portal-api/security-compliance/development-operations-management.md"
  - Status and support:
      - Status information: "service/status.md"
      - Audit Logging: "service/audit_logging.md"
      - Offboarding information: "service/offboarding.md"
      - Getting support: "service/support.md"
      - Policies and SLA: "service/policies.md"
      - Known issues: "service/known_issues.md"
      - Contributing: "contribute.md"
