# Site and content
site_name: "Safespring documentation"
docs_dir: "content"

# Github integration
repo_name: "safespring/docs"
repo_url: "https://github.com/safespring/docs"
edit_uri: "edit/master/content/"

# Safespring theme
theme:
  name: "material"
  feature:
    tabs: false
  logo: "safespring_symbol_white_svg.svg"
  favicon: "favicon.ico"
extra_css:
  - "safespring.css"
extra_javascript:
  - "https://lbpj80qtys85.statuspage.io/embed/script.js"
extra:
  font:
    text: "Montserrat"
    code: "Ubuntu Mono"

# https://squidfunk.github.io/mkdocs-material/getting-started/#extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables

# Pages layout
nav:
  - Overview: "index.md"
  - Backup: 
    - Quick-Start Guide: "backup/quickstart-guide.md"
    - Installation: 
      - Overview: "backup/install/overview.md" 
      - Linux: "backup/install/linux.md"
      - Windows: "backup/install/windows.md"
      - macOS: "backup/install/apple-macos.md"
      - freeBSD: "backup/install/freebsd-other.md"
      - Application:
        - Microsoft SQL Server: "backup/install/mssql-windows.md"
    - HOWTOs:
      - Business Units: "backup/howto/business-units.md"
      - Deleting Nodes: "backup/howto/delete-node.md"
      - Include/Exclude: "backup/howto/include-exclude.md"
    - FAQ: "backup/faq.md"
    - Legacy Backup: "legacy-backup/index.md"
  - Compute:
     - Overview: "new/overview.md"
     - Getting Started: "new/getting-started.md"
     - VPN options: "new/vpn.md"
     - API Access: "new/api.md"
     - Flavors: "new/flavors.md"
     - Application credentials: "new/app-creds.md"
     - Persistent IP address: "new/persistent-ip-address.md"
     - Using Keypairs: "compute/keypairs.md"
     - Trouble Shooting: "new/troubleshooting.md"
     - HOWTOs:
       - Connecting to Safespring: "compute/connecting.md"
       - Windows images: "compute/windows.md"
       - S3 credentials (sto3): "new/s3-credentials.md"
       - VMware import: "compute/vmware-import.md"
       - Migrate instance to another project: "compute/migrate-between-projects.md"
       - Taking snapshots of instances: "compute/snapshotting-instances.md"
       - Migrate instances from legacy: "new/migrate-from-legacy.md"
     - Legacy:
       - Getting started: "compute/getting-started-legacy.md"
       - API access: "compute/api-legacy.md"
       - Image service: "compute/image.md"
       - Volume service: "compute/volume.md"
       - Network service: "compute/network.md"
       - Enabling IPv6: "compute/ipv6-howto.md"
  - Storage:
    - General S3 Info: "storage/generalinfo.md"
    - Example s3cmd config: "storage/s3cmd.md"
    - S3 Advanced Features: "storage/s3-advanced.md"
    - S3 Usage Report: "storage/usage-statistics.md"
    - Example s3fs config: "storage/s3fs.md"
    - Example CloudBerry config: "storage/cloudberry.md"
    - Example CyberDuck config: "storage/cyberduck.md"
    - Example Duck CLI config: "storage/duck-cli.md"
    - Example Minio Client config: "storage/minio-client.md"
    - Example AWS-CLI config: "storage/aws-cli.md"
    - Example NextCloud S3 integration: "storage/nextcloud-s3.md"
    - Tips and Tricks: "storage/tips-n-tricks.md"
    - Backup Exec and Safespring Storage: "storage/backup-exec.md"
    - Other Backends: "storage/other-backends.md"
    - Object Locking: "storage/object-locking.md"
  #   - Zones: "synkzone/zones.md"
  #   - Working with files: "synkzone/working-with-files.md"
  #   - Collaboration and conflict management: "synkzone/collaboration-and-conflict-management.md"
  #   - Archived files: "synkzone/archived-files.md"
  #   - Miscellaneous: "synkzone/miscellaneous.md"
  - Status and support:
    - Roadmap: "service/roadmap.md"
    - Status information: "service/status.md"
    - Getting support: "service/support.md"
    - Policies and SLA: "service/policies.md"
    - Domain changes: "service/domain-changes.md"
    - Known issues: "service/known_issues.md"
    - Contributing: "contribute.md"

