@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.md-typeset {
  font-family: "Montserrat";
  color: #323232;
  font: 400 1.125rem !important;
}

h2 {
  color: #195f8c;
  font-family: Hind;
  font-weight: 300 !important;
  margin: 2rem 0 -0.8rem !important;
}

h1 {
  font-family: Hind;
  font-weight: 300 !important;
  color: #000 !important;
}

h3, h4, h5, h6 {
  color: #3C9BCD;
  font-family: Hind;
  font-weight: 300 !important;
  margin: 1.5rem 0 -0.8rem !important;
}

.codehilite pre {
  background-color: #EBF1F5 !important;
}

img {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

label, nav {
  font-family: Hind;
  font-weight: 400 !important;
}

.md-nav__title {
  background: none !important;
}
.md-sidebar {
}
.md-nav--secondary {
  border: none !important;
  padding: 10px !important;
}
/*.md-sidebar--primary {
}


.md-nav__title--site {
  font-size: 1.5em;
  padding: 0 0 20px 0;
}

.md-sidebar--primary li {
  font-size: 1.3em;
  border-top: 0.5px solid #EBF1F5;
  padding: 6px 10px 10px 10px;
  margin: 0;
}

.md-sidebar--primary li li{
  font-size: 1.1em;
  border-top: none;
  padding: 0 0 0 20px;
  margin: 0;
}

.md-nav__list {
  padding-top: 0;
}*/

/* START - notes, warning, information cards */

.admonition.note {
  border-left: .4rem solid #3C9BCD !important;
}

.admonition.info {
  border-left: .4rem solid #32CD32 !important;
}

.admonition.warning {
  border-left: .4rem solid #FA690F !important;
}

.warning .admonition-title::before {
  color: #FA690F !important;
}

.info .admonition-title::before {
  color: #32CD32 !important;
}

.info .admonition-title {
  background-color: rgba(50, 205, 5, 0.1) !important;
  color: #32CD32;
}

.warning .admonition-title {
  background-color: rgba(250, 105, 15, 0.1) !important;
  color: #FA690F;
}

.note .admonition-title {
  background-color: #EBF1F5 !important;
  color: #195F8C;
}

.admonition-title::before {
  color: #3C9BCD !important;
}

/* END - notes, warning, information cards */

/* START - tables */

thead>tr>th {
  background-color: #fafefe !important;
  color: #3C9BCD !important;
  font-family: Hind !important;
  font-weight: 300 !important;
  border-bottom: 1px dotted #3C9BCD !important;
}

table {
  box-shadow: none !important;
  border-bottom: 1px dotted #3C9BCD !important;
}

.md-typeset table:not([class]) td {
  border: 0;
}

tr:nth-child(odd) {
  background-color: #EBF1F5;
}

/* END - tables */

.md-content ul {
  list-style: none; /* Remove default bullets */
}

.md-content ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #3C9BCD; /* Change the color */
  font-family: auto;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.md-content ul li ul li::before {
  content: "–";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #FA690F; /* Change the color */
  font-family: auto;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
}

.md-content ul li ul li ul li::before {
  content: "+";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #32CD32; /* Change the color */
  font-family: auto;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
}

button.md-clipboard:before {
  color: rgba(25,95,140,.6) !important;
}

.md-container {
  background-color: #FAFEFE;
}

.md-sidebar--secondary {
  margin-top: 20px;
  height: min-content !important;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

/*.md-sidebar__scrollwrap {
  min-height: min-content;
}*/



.md-clipboard:hover:before {
  color: rgba(25,95,140,1) !important;
}

blockquote {
  text-indent: 0;
  margin: 10px 0;
}

/*.md-sidebar--primary .md-sidebar__inner {
  border-right: 0.5px solid #EBF1F5;
  border-bottom: 0.5px solid #EBF1F5;
}*/

::-webkit-scrollbar {
  width: 1px;
}

.md-nav__list {
  color: #195f8c;
}

.md-nav__list .md-nav__list {
  font-family: Hind;
  font-weight: 400 !important;
  color: #323232;
}

.md-typeset .md-content__icon {
  font-family: Material Icons;
}

.md-typeset a {
  color: #323232;
  font-family: Montserrat;
  text-decoration: underline;
}

.md-header {
  background-color: #195f8c;
}

.md-nav--secondary {
  border-left: .4rem solid #195f8c
}

.md-nav--secondary .md-nav__link--active {
  color: #195f8c
}

.md-nav__item--active>.md-nav__link, .md-nav__link:active {
  color: #fa690f
}

.md-tabs {
  background: rgba(25, 95, 140, .9675);
}

.md-tabs[data-md-state=hidden] {
  background: #195f8c;
}

@media only screen and (max-width:76.1875em) {
  html .md-nav--primary .md-nav__title--site {
    background-color: #195f8c;
  }
}

@media only screen and (max-width:59.9375em) {
  .md-nav__source {
    background-color: rgba(25, 95, 140, .9675);
  }
}

.superfences-tabs>label:hover {
  color: #195f8c !important;
}

.superfences-tabs>input:checked+label {
  color: #fa690f !important;
  font-weight: 600 !important;
}


/*
accent color #fa690f
*/
.md-typeset a:active, .md-typeset a:hover {
  color: #fa690f
}

.md-typeset pre::-webkit-scrollbar-thumb:hover {
  background-color: #fa690f
}

.md-nav__link:focus, .md-nav__link:hover {
  color: #fa690f
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #fa690f;
}

.md-source-file:hover:before {
  background: #fa690f;
}

.md-typeset .codehilite::-webkit-scrollbar-thumb:hover {
  background-color: #fa690f;
}

.md-typeset .footnote li:hover .footnote-backref:hover, .md-typeset .footnote li:target .footnote-backref {
  color: #fa690f;
}

.md-typeset [id] .headerlink:focus, .md-typeset [id]:hover .headerlink:hover, .md-typeset [id]:target .headerlink {
  color: #fa690f;
}

@media only screen and (min-width:60em) {
  .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: #fa690f;
  }
}

.md-footer-meta {
  display: none;
}

re > code {
  padding:10px 0 18px 0;
}

p>code {
  white-space: nowrap;
  font-size: 1rem;
}

@media only screen and (max-width:900px) {
  p>code {
    white-space: wrap;
  }
}

code {
  font-style:normal !important;
  font-size: 0.7rem !important;
  background:#EAF0F4 !important;
  padding:0 8px 2px 8px !important;
  border-radius:7px !important;
  color:#195F8C !important;
  overflow: auto !important;
  font-family: "Intel One Mono", monospace !important;
  line-height: 1 !important;
}

code>span {
  font-size: 0.9rem;
}

/* === CODE BLOCK  === */

.md-typeset pre {
  position:relative;
  background:#EAF0F4 !important;
  max-width:800px !important;
  padding:30px 5px 30px 30px !important;
  border-radius:10px !important;
  overflow: auto;
  font-family: "Intel One Mono";
  font-size: 0.8rem !important;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--cloud-blue-color);
}

.md-typeset pre[data-lang]::before {
  content:attr(data-lang);
  font-weight:599;
  font-size: 0.9rem;
  background-color:#195F8C10;
  color:#195F8C;
  padding:15px 0px 15px 30px;
  position:absolute;
  width:calc(100% - 30px);
  top:0;
  left:0;
  z-index:1;
  font-family: "Intel One Mono";
}

.md-typeset pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.md-typeset pre::-webkit-scrollbar-track {
  background: var(--middle-blue-color); /* Bakgrundsfärg i spåret */
}

.md-typeset pre::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* Färg på "tummen" */
  border-radius: 50px;     /* Rundade hörn */
  border: 2px solid var(--cloud-blue-color); /* Ger lite space runt tummen */
}

/* === END: CODE BLOCK === */
