/*
primary color #417da5
     or #195F8C
*/

@import url('https://fonts.googleapis.com/css?family=Hind:600|Montserrat');

body {
  font-family: Montserrat;
  color: #323232;
}

h1, h2 {
  color: #195f8c;
  font-family: Hind;
  font-weight: 600 !important;
}

h3, h4, h5, h6 {
  color: #323232;
  font-family: Hind;
  font-weight: 600 !important;
}

label, nav {
  font-family: Hind;
  font-weight: 600 !important;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 1em;
  text-indent: -1em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}
blockquote {
  text-indent: 0;
  margin: 10px 0;
}
.md-sidebar--primary li {
  font-size: 1.2em;
}

.md-typeset a {
  color: #195f8c;
  font-family: Hind;
  font-weight: 600 !important;
}

.md-header {
  background-color: #195f8c;
}

.md-nav--secondary {
  border-left: .4rem solid #195f8c
}

.md-nav--secondary .md-nav__link--active {
  color: #195f8c
}

.md-nav__item--active>.md-nav__link, .md-nav__link:active {
  color: #fa690f
}

.md-tabs {
  background: rgba(25, 95, 140, .9675);
}

.md-tabs[data-md-state=hidden] {
  background: #195f8c;
}

@media only screen and (max-width:76.1875em) {
  html .md-nav--primary .md-nav__title--site {
    background-color: #195f8c;
  }
}

@media only screen and (max-width:59.9375em) {
  .md-nav__source {
    background-color: rgba(25, 95, 140, .9675);
  }
}


/*
accent color #fa690f
*/

.md-typeset {
  font-size: 1.4em;
}
.md-typeset a:active, .md-typeset a:hover {
  color: #fa690f
}

.md-typeset pre::-webkit-scrollbar-thumb:hover {
  background-color: #fa690f
}

.md-nav__link:focus, .md-nav__link:hover {
  color: #fa690f
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #fa690f
}

.md-source-file:hover:before {
  background: #fa690f
}

.md-typeset .codehilite::-webkit-scrollbar-thumb:hover {
  background-color: #fa690f
}

.md-typeset .footnote li:hover .footnote-backref:hover, .md-typeset .footnote li:target .footnote-backref {
  color: #fa690f
}

.md-typeset [id] .headerlink:focus, .md-typeset [id]:hover .headerlink:hover, .md-typeset [id]:target .headerlink {
  color: #fa690f
}

@media only screen and (min-width:60em) {
  .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: #fa690f
  }
}
